.title {
    color: red;
    display: flex;
    justify-content: center;
}


#container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}



.gridLayer {
    
    display: grid;
    grid-template-columns: repeat(16, 30px);
    grid-template-rows: repeat(16, 30px);
    grid-gap: 0px;
}


.cells {
   
    border: 2px solid black;
}

